.App {
  text-align: center;
}

.App strong {
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}


.star-rating {
  font-size: 24px;
  display: inline-block;
  color: grey; /* Default star color */
}


.star {
  cursor: pointer;
  margin-right: 5px;
}

.star.filled {
  color: #f0c419;
}


.star:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  color: #cd9898;
}

#imageURL {
  width: 150px;
}


.strong {
  font-size: 30px;
}